:root{
  --footer-height:80px;
}
@font-face {
  font-family: "norseregular";
  src: url("./assets/norse-webfont-kit/norse-kawl-webfont.woff2") format("woff2"), url("./assets/norse-webfont-kit/norse-kawl-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  font-family: 'norseregular', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}


ul {
  padding: 0;
  margin: 0;
}

ul>li {
  list-style: none;
  padding: 0;
  margin: 0;
}