.rabbit-story-container {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: 0.5rem 0;
    padding: 0 1em 1em 1em;
    flex: 0 1 30%;
    height: 30em;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 20px black;
    position: relative;
    transition: all .5s ease;
    background:white;
}

.rabbit-story-container img {
    max-width: 5em;
    float: left;
    padding-right: 1em;
}

@media screen and (min-width:860px) {
    .rabbit-story-container:hover {
        flex: 1 1 40%;
    }
}

@media screen and (max-width:860px) {
    .rabbit-story-container {
        flex: 0 0 30%;
    }
}